// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary   : #2d0d06;
$secondary : #c52e28;
$accent    : #e4e43c;

$dark      : #2d0d06;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;







$info1      : #cddc39;
$info2      : #004d40;
$info3      : #03a9f4;
$info4      : #0091ea;
$info5      :#558b2f;


$dar1 : #010D26;
$dark2: #0B2623;
$dark3: #01401C;
$dark4: #022612;
$dark5: #F2E205;

$l1: #E4E4F2;
$l2: #0597F2;
$l3: #022612;
$l4: #F2E205;
$l5: #0D0D0D;
